

.top_half {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.bottom_half {
    margin-left: 10%;
    margin-right: 10%;

    
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    
}


#top {
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#middle {
    background-color: blue;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 45px;
    padding-bottom: 45px;

}

#bottom {
    background-color:  green;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 65px;
    padding-bottom: 65px;
    margin-bottom: 50px;
}

#left_box {
    width: 100px;
    height: 100px;
    background-color: purple;
    float: left;
    margin-left: 10%;
}
#right_box {
    width: 100px;
    height: 100px;
    background-color: purple;
    float: right;
    margin-right: 10%;
}

img {
    width: 100px;
    height: 100px;
}